{{> navbar}}

<div class="columns is-marginless">
  {{!-- Sidebar --}}
  <div class="column is-2 is-paddingless">
    {{> sidebar}}
  </div>

  {{!-- Page content --}}
  <div class="column is-10 is-paddingless">
    <div class="container">

      {{!-- List section --}}
      <div class="box content">
        <h4>Link list</h4>
        <table class="table">
          {{!-- Header --}}
          <thead>
            <th style="width: 170px;">Title</th>
            <th>Desciption</th>
            <th class="has-text-centered" style="width: 90px;">Edit</th>
          </thead>
          {{!-- Body --}}
          <tbody>
            {{#each links}}
            <tr>
              <td>
                <a href="{{url}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
              </td>
              <td>
                {{description}}
              </td>
              <td class="has-text-centered">
                {{!-- Edit button --}}
                <a href="manage/edit?id={{id}}">
                  <button class="button is-small is-link">
                    <i class="fa fa-pencil"></i>
                  </button>
                </a>
                {{!-- Delete button --}}
                <a href="manage/delete?id={{id}}">
                  <button class="button is-small is-danger">
                    <i class="fa fa-close"></i>
                  </button>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>